# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# Distribution / packaging
build/
*.egg-info/


# Jupyter Notebook
.ipynb_checkpoints

#extras
.pytest_cache
.vscode

# mkdocs documentation
/site

/data 
/results
/wandb
/plots

results.zip
calvin.zip
mp.zip
data.zip
.vscode/
.env